.chess-board {
  margin: 0 auto;
  position: relative;
  background: transparent url(../images/GK_Chessboard.png) repeat-y 0 0;
  width: 600px;
  height: 600px;
  background-size: 100% auto;
}

.chess-board div {
  position: absolute;
  vertical-align: top;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  margin-top: 2px;
}

.chess-board .wP {
  background: transparent url(../images/chess-sets/white/GK_ChessPieceW_Pawn_v6.png);
  background-size: contain;
 }
.chess-board .wR {
  background: transparent url(../images/chess-sets/white/GK_ChessPieceW_Rook_v6.png);
  background-size: contain;
}
.chess-board .wN {
  background: transparent url(../images/chess-sets/white/GK_ChessPieceW_Knight_v6.png);
  background-size: contain;
}
.chess-board .wB {
  background: transparent url(../images/chess-sets/white/GK_ChessPieceW_Bishop_v6.png);
  background-size: contain;
}
.chess-board .wQ {
  background: transparent url(../images/chess-sets/white/GK_ChessPieceW_Queen_v6.png);
  background-size: contain;
}
.chess-board .wK {
  background: transparent url(../images/chess-sets/white/GK_ChessPieceW_King_v6.png);
  background-size: contain;
}

.chess-board .bp {
  background: transparent url(../images/chess-sets/black/GK_ChessPieceB_Pawn_v6.png);
  background-size: contain;
}
.chess-board .br {
  background: transparent url(../images/chess-sets/black/GK_ChessPieceB_Rook_v6.png);
  background-size: contain;
}
.chess-board .bn {
  background: transparent url(../images/chess-sets/black/GK_ChessPieceB_Knight_v6.png);
  background-size: contain;
}
.chess-board .bb {
  background: transparent url(../images/chess-sets/black/GK_ChessPieceB_Bishop_v6.png);
  background-size: contain;
}
.chess-board .bq {
  background: transparent url(../images/chess-sets/black/GK_ChessPieceB_Queen_v6.png);
  background-size: contain;
}
.chess-board .bk {
  background: transparent url(../images/chess-sets/black/GK_ChessPieceB_King_v6.png);
  background-size: contain;
}
