.chess-board {
  margin: 0 auto;
  position: relative;
  background: transparent url(../images/half-board.png) repeat-y 0 0;
  width: 650px;
  height: 650px;
  background-size: 100% auto;
}

.chess-board div {
  position: absolute;
  vertical-align: top;
  width: 79px;
  height: 79px;
  padding: 0; margin: 0;
}

.chess-board .wP {
  background: transparent url(../images/chess-sets/GK_ChessboardGFX_v3.png) -2px -4px;
}
.chess-board .wN { background: transparent url(../images/chess-sets/GK_ChessboardGFX_v3.png) -84px -4px; }
.chess-board .wB { background: transparent url(../images/chess-sets/GK_ChessboardGFX_v3.png) -166px -4px; }
.chess-board .wR { background: transparent url(../images/chess-sets/GK_ChessboardGFX_v3.png) -248px -4px; }
.chess-board .wQ { background: transparent url(../images/chess-sets/GK_ChessboardGFX_v3.png) -329px -4px; }
.chess-board .wK { background: transparent url(../images/chess-sets/GK_ChessboardGFX_v3.png) -411px -4px; }

.chess-board .bp { background: transparent url(../images/chess-sets/GK_ChessboardGFX_v3.png) -2px -87px; }
.chess-board .bn { background: transparent url(../images/chess-sets/GK_ChessboardGFX_v3.png) -84px -87px; }
.chess-board .bb { background: transparent url(../images/chess-sets/GK_ChessboardGFX_v3.png) -166px -87px; }
.chess-board .br { background: transparent url(../images/chess-sets/GK_ChessboardGFX_v3.png) -248px -87px; }
.chess-board .bq { background: transparent url(../images/chess-sets/GK_ChessboardGFX_v3.png) -329px -87px; }
.chess-board .bk { background: transparent url(../images/chess-sets/GK_ChessboardGFX_v3.png) -411px -87px; }
