body {
  margin: 2em auto;
  text-align: center;
  font-family: helvetica, sans-serif;
  background-color: #000;
  color: #737373;
}
#wrapper {
  margin: 0 auto;
  width: 1000px;
}
pre {
  text-align: left;
}
a {
  font-size: 24px;
}
h1 {
  color: #7F7F7F;
  text-align: left;
  margin-bottom: 0;
}
.board {
  margin-left: 250px;
}

.btn {
  /*background-color: #7F7F7F;
  /*border: solid #FEFEFE .5px;*/
  /*border-radius: 15%;*/
  color: #7F7F7F;
}

.hidden {
  display: none;
}

.instructions {
  margin-top: 15px;
  text-align: left;
}

.pgn-example {
  width: 100%;
}

.fen-field, .pgn-field, .pgn-load {
  margin: 30px;

}

.video {
  margin-left: 150px;
}

.move{
  display: block;
}

#select-video {
  height: 3em;
  width: 90%;
  margin-bottom: 20px;
}

.title-text {
  font-size: 1.5em;
}

#board {
  position: relative;
  min-height: 600px;
}

.active-pgns {
  display: block;
  /*padding: 20px;*/
  text-align: left;
}

.pgn-editor, .move-editor {
  text-align: left;
}

.button-group {
  margin: 20px;
}
